In [2]:
import pandas as pd
import numpy as np

# use requests library to interact with a URL
import requests
import time

#not sure why these, maybe because why not?
import os
import sys

import quandl as Quandl
import pickle
import os.path

How to interact with a REST API:

- Make a "request" to a specific URL (an "endpoint"), and get the data back in a "response"
- Most relevant request method for us is GET (other methods: POST, PUT, DELETE)
- Response is often JSON format
- Web console is sometimes available (allows you to explore an API)

In [ ]:
api_key=Uw_xg6YgmHbHQHZzWNAE

In [3]:

if os.path.isfile ('authtoken.p'):
    Quandl.APIConfig.api_key = pickle.load(open('authtoken.p', 'rb'))

In [4]:
#based on the documentation, https://swapi.co/documentation, what is this requesting
r = requests.get('https://api.housecanary.com/v2/property/listing_status')

In [5]:
# check the status: 200 means success, 4xx means error
r.status_code

401

In [6]:
# view the raw response text
r.text

'{"message": "The request does not contain required authentication parameters. Please use one of the authentication protocols supported by HouseCanary APIs."}'

In [7]:
# decode the JSON response body into a dictionary
r.json()

{'message': 'The request does not contain required authentication parameters. Please use one of the authentication protocols supported by HouseCanary APIs.'}

In [8]:
#Based on the output, how to select just the reuslts?
results = r.json()['results']
results

KeyError: 'results'

In [9]:
df = pd.DataFrame(results)

NameError: name 'results' is not defined

In [10]:
people = []

for i in range(1,6):
    html= 'http://swapi.co/api/people/' + str(i) + '/'
    x = requests.get(html)
    people.append(x.json())
    #time.sleep(1)

In [11]:
# We can also turn this into a dataframe
df_people = pd.DataFrame(people)

In [12]:
df_people

,birth_year,created,edited,eye_color,films,gender,hair_color,height,homeworld,mass,name,skin_color,species,starships,url,vehicles
0,19BBY,2014-12-09T13:50:51.644000Z,2014-12-20T21:17:56.891000Z,blue,"[https://swapi.co/api/films/2/, https://swapi....",male,blond,172,https://swapi.co/api/planets/1/,77,Luke Skywalker,fair,[https://swapi.co/api/species/1/],"[https://swapi.co/api/starships/12/, https://s...",https://swapi.co/api/people/1/,"[https://swapi.co/api/vehicles/14/, https://sw..."
1,112BBY,2014-12-10T15:10:51.357000Z,2014-12-20T21:17:50.309000Z,yellow,"[https://swapi.co/api/films/2/, https://swapi....",n/a,n/a,167,https://swapi.co/api/planets/1/,75,C-3PO,gold,[https://swapi.co/api/species/2/],[],https://swapi.co/api/people/2/,[]
2,33BBY,2014-12-10T15:11:50.376000Z,2014-12-20T21:17:50.311000Z,red,"[https://swapi.co/api/films/2/, https://swapi....",n/a,n/a,96,https://swapi.co/api/planets/8/,32,R2-D2,"white, blue",[https://swapi.co/api/species/2/],[],https://swapi.co/api/people/3/,[]
3,41.9BBY,2014-12-10T15:18:20.704000Z,2014-12-20T21:17:50.313000Z,yellow,"[https://swapi.co/api/films/2/, https://swapi....",male,none,202,https://swapi.co/api/planets/1/,136,Darth Vader,white,[https://swapi.co/api/species/1/],[https://swapi.co/api/starships/13/],https://swapi.co/api/people/4/,[]
4,19BBY,2014-12-10T15:20:09.791000Z,2014-12-20T21:17:50.315000Z,brown,"[https://swapi.co/api/films/2/, https://swapi....",female,brown,150,https://swapi.co/api/planets/2/,49,Leia Organa,light,[https://swapi.co/api/species/1/],[],https://swapi.co/api/people/5/,[https://swapi.co/api/vehicles/30/]