checklist:


Drops
- address1 drop
- exception: clean
- new_value: dropped it (doesn't contain anything)
- current_value: dropped it (doesn't contain anything
- tax_type: clean (create a data dictionary for this column) 
- instrument_no
- sub_neighborhood': A, B, C...huh? 
- 'tax_class: all the same (residential)
- homestead: I dummied this
- building_area: nulls
- triennial_group: no cleaning necessary (float)
- address: I parsed this
- instrument_no: no clue
- tax_class2: 1 for residential
- building_area: empty (for now. check again once you get the full dataset)

cleaned
- assessor: cleaned (titlecase)
- tax_class2: cleaned and filtered
- use_code: clean (create a data dictionary for this column)
- neighborhood: clean
- owner_name: cleaned (converted to title case)
- address: cleaned (spend an hour on this!
- sale_price: cleaned (dropped commas and dollar signs)
- land_area: clean (dropped commas)
- ward: float status. cleaning not needed
- land_2017: cleaned (dropped commas and dollar signs)
- land_2018: cleaned (dropped commas and dollar signs)
- improvements_2017: cleaned (dropped commas and dollar signs)
- improvements_2018: cleaned (dropped commas and dollar signs)
- value_2017: cleaned (dropped commas and dollar signs)
- value_2018: cleaned (dropped commas and dollar signs)
- assessment_2017: cleaned (dropped commas and dollar signs)
- assessment_2018: cleaned (dropped commas and dollar signs)

filters:
- drop duplicates
- tax_class2: cleaned and filtered
- tax_class2 = 1
- sale_price > 100
- zip_code: need to filter to ^2\d+ zip codes
- city: non-dc values (look at city column)
- code: 1, only residential

Columns created
- homestead: dummified and column cleaned [drop for arima]
- zip_code: created [need to filter]
- address_1 column
- qtr
- month
- year

I need to:
- consider dropping land_area < '4'
- look at home values that are \$1
- ### add lats and longs
- eda (sns plot)
- search for 'Not Available'

I can if I have time:
- use_code: create a data dictionary for this column) [super important]
- tax_class2: create a data dictionary for this column)
- look into subneighborhood: #wtf is this?

In [1]:
import numpy as np
import pandas as pd
import math

In [2]:
df = pd.read_csv('otr_clean.csv', index_col='date')
df.head()

,neighborhood,assessor,ward,land_area,owner_name,sale_price,sales_code,sales_type,land_2017,land_2018,...,homestead_yes,homestead_senior,homestead_no,zip_code,state,city,address_1,qtr,month,year
date,,,,,,,,,,,,,,,,,,,,,
2015-06-29,American University Park,Parker Norman,3.0,7500,Dan I Magder,1073000,MARKET,I - IMPROVED,526200.0,550650.0,...,1,0,0,20016.0,DC,WASHINGTON,4933 MASSACHUSETTS AVE NW,2,6,2015
2013-07-15,American University Park,Parker Norman,3.0,6000,Thomas J Leonard,880000,MARKET,I - IMPROVED,480570.0,504050.0,...,1,0,0,20016.0,DC,WASHINGTON,4923 MASSACHUSETTS AVE NW,3,7,2013
2011-12-27,American University Park,Parker Norman,3.0,5296,Jennifer Budoff,817000,MARKET,I - IMPROVED,494910.0,519860.0,...,1,0,0,20016.0,DC,WASHINGTON,4410 49TH ST NW,4,12,2011
2010-07-07,American University Park,Parker Norman,3.0,6000,Hyesook Chung,880000,MARKET,I - IMPROVED,505860.0,530580.0,...,0,0,1,20016.0,DC,WASHINGTON,5047 MASSACHUSETTS AVE NW,3,7,2010
2017-11-27,American University Park,Parker Norman,3.0,5017,John W Hanna,1040000,MARKET,I - IMPROVED,490110.0,515150.0,...,1,0,0,20016.0,DC,WASHINGTON,4918 ALBEMARLE ST NW,4,11,2017

In [3]:
from geopy.geocoders import Nominatim
nom = Nominatim()

In [4]:
df.columns

Index(['neighborhood', 'assessor', 'ward', 'land_area', 'owner_name',
       'sale_price', 'sales_code', 'sales_type', 'land_2017', 'land_2018',
       'improvements_2017', 'improvements_2018', 'value_2017', 'value_2018',
       'assessment_2017', 'assessment_2018', 'use_code2', 'tax_type2',
       'homestead_yes', 'homestead_senior', 'homestead_no', 'zip_code',
       'state', 'city', 'address_1', 'qtr', 'month', 'year'],
      dtype='object')

In [5]:
df['zip_code']= df['zip_code'].astype(str)

In [6]:
df.dropna(inplace=True)

In [7]:
df['full_address'] = df['address_1'] + " " + df['city'] + " " + df['state']+ " " + df['zip_code']

In [11]:
# df['coord'] = df['full_address'].apply(nom.geocode, timeout=10)

# This didn't work :(

In [13]:
location = nom.geocode("175 5th Avenue NYC")
print(location.address)

Flatiron Building, 175, 5th Avenue, Flatiron Building, Manhattan Community Board 5, New York County, NYC, New York, 10010, United States of America

In [14]:
# df['latitiude'] = df['coord'].apply(lambda x: x.latitude if x != None else None)
# df['longitude'] = df['coord'].apply(lambda x: x.longitude if x != None else None)

In [16]:
df.to_csv('otr_clean.csv', encoding='utf-8')

In [396]:
# df.to_csv('otr_ready_for_eda.csv', encoding='utf-8')